<div class="card">
    <p-menubar class="item-list" [model]="items">
        <ng-template pTemplate="start">
            <div class="start-content">
                <span class="logo">
                    <a href="/">
                        <img src="..\assets\images\logo.PNG">
                    </a>
                </span> 
                &nbsp;
                <span>
                    <a href="/" style="text-decoration: none; color: inherit; font-size: x-large">SecureVisionAI</a>
                </span>
            </div>
        </ng-template>
    </p-menubar>
</div>