$main-color: #455d7a;

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7f6;
  }
  
  .login-box {
    width: 350px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center; 
  }
  
  .login-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 25px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: calc(100% - 40px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .login-button {
    width: calc(100% - 40px);
    padding: 12px;
    background-color: $main-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
